header{
	height: 250px;
	background-image: url("images/sweet.jpg");
	background-repeat: no-repeat;
	background-position: center;
	width: 100%;
}
div#colorbar-top{
	background-color: rgba(0,0,0,0.8);
	height: 50px;
	width: 100%;
}

div#colorbar-btm{
	background-color: rgba(0,0,0,0.3);
	//margin-top: 45px;
	height: 50px;
}

nav#nav-left li{
	float: left;
	display: inline;
	text-decoration: none;
	margin-left: 12px;
}

nav#nav-btm li{
	float: left;
	display: inline;
	text-decoration: none;
}

ul#list-topright{
	float: right;
}

ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

a{
	text-decoration: none;
	color: #FFFFFF;
}


a#pixalb{
	font: bold 32px Century Gothic, sans-serif;
}

a#pixalb:hover{
	color: #FFFFFF;
	text-decoration: none;
}

li#youralb{
	padding-top: 13px;
	padding-left: 30px;
}

li#pixlogo{
	padding-top: 3px;
}

li#signoutli{
	padding-top: 13px;
	padding-right: 25px;
}

a#youralb-link ,a#signout{
	font: 17px Candara, sans-serif;
}

a#youralb-link:hover , a#signout:hover{
	color: rgba(255,255,255,0.7);
	text-decoration: none;
}
#list-btm{
	padding-top: 16px;

}
#nav-btm a:link{
	font: 16px Gill Sans, sans-serif;
	color: #FFFFFF;
	border: 0px solid #FFFFFF;
	padding: 16px ;
	text-decoration: none;
}

#nav-btm a:hover{
	background-clip: padding-box;
	background-color: rgba(0,0,0,0.6);
	color: #FFFFFF;
}

